/*    */

/* body{
    background-color: black
} */

i {
    cursor: pointer;
}

.navbar-white i {
    color: black;
}

#iconOpenNavbar,
#iconCloseNavbar {
    font-size: 28px;
}

#openAndCloseNav {
    transition: all 1000ms;
}


.divLayOut {
    background-color: #ffffffb0;
    top: 110%;
    bottom: -110%;
    transition: all 700ms;
}

.divImage:hover .divLayOut {
    top: 0;
    bottom: 0;
}


#iconArea,
.ingredientsContent i {
    color: #F9F6F6;
    font-size: 64px;
    /* text-align: center; */
}

#nameAreaH,
.ingredientsContent h3,
.ingredientsContent p {
    color: #F9F6F6;
    /* text-align: center; */
}

h1 {
    padding-left: 10px;
}

input:focus {
    border: 0;
}

input+div {
    background-color: #F8D7DA;
    color: #842029;
}

button {
    background-color: transparent;
    color: #DC3545;
    border: 2px solid #DC3545;
}

button:disabled {
    color: #942832;
    border: 2px solid #84242D;
}

button:hover {
    background-color: #DC3545;
    color: white;
}

button:disabled:hover {
    color: #942832;
    background-color: initial;
}



.liForRecipes {
    background-color: #CFF4FC;
    color: #075362;
}



.loader {
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

@keyframes mulShdSpin {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
            2em -2em 0 0em, 3em 0 0 -1em,
            2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
            3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em,
            2em -2em 0 0, 3em 0 0 0.2em,
            2em 2em 0 0, 0 3em 0 -1em,
            -2em 2em 0 -1em, -3em 0 0 -1em,
            -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
            -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
            -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
            -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
            3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
            3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
            -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}


@media (max-width: 767.98px) {
    .navbar-black {
        width: 150px;
        
    }
}
@media (min-width: 767.98px) {
    .navbar-black {
        width: auto;
    }
}